@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD

=======
>>>>>>> origin/tya
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0;
  display: flex;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

<<<<<<< HEAD
/* button {
=======
button {
  border-radius: 8px;
>>>>>>> origin/tya
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
<<<<<<< HEAD
} */
=======
}
>>>>>>> origin/tya

.card {
  padding: 2em;
}

#app {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgb(17, 24, 39),   
    rgb(30, 58, 138), 
    rgb(17, 24, 39) 
  );
  background-attachment: fixed;
}
.main-content {
<<<<<<< HEAD
=======
  margin-left: 3vw;
>>>>>>> origin/tya
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}
<<<<<<< HEAD
@media(max-width:642px) {
=======
@media(max-width:1035px) {
  .main-content{
    margin-left: 5vw;
  }

}
@media(max-width:760px) {
  .main-content{
    margin-left: 7vw;
  }
}
@media(max-width:670px) {
  .main-content{
    margin-left: 7vw;
  }
  .icon-status{
    font-size: 6px;
  }
}
@media(max-width:642px) {
  .main-content{
    margin-left: 7vw;
  }
>>>>>>> origin/tya
  .icon-status{
    font-size: 0px;
    width: 1px;
  }
}
<<<<<<< HEAD
=======
@media(max-width:567px) {
  .main-content{
    margin-left: 11vw;
  }
}
@media(max-width:382px) {
  .main-content{
    margin-left: 13vw;
  }
}
>>>>>>> origin/tya

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
